.home{
    .features{
        background-color: #a2bfb0;
        display: flex;
        justify-content: center;
        padding: 100px 0px;

        &.dark{
         background-color: #0d084d;
         h1{
            color: white !important;
         }
         p{
            color: white !important;
            margin-bottom: 20px !important;
         }
         .title{
            color: white !important;
            font-weight: 300 !important;
            font-size: 14px !important;
            img{
                width: 24px !important;
            height: 24px !important;
            }
         }
         img{
            width: 100% !important;
            
         }
         button{
            background-color: #1dbf73;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 14px;
            margin-top: 20px;
            cursor: pointer;
            border: none;
            width: max-content;

         }
        }
        .container{
            width: 1400px;
            align-items: center;
            display: flex;
            gap: 200px;
         .item{
            display: flex;
            flex-direction: column;
            gap: 15px;

            &:first-child{
                flex: 2;
            }
            &:last-child{
                flex: 3;
            }
          h1{
          font-weight: 500;
          margin-bottom: 10px;
          }
          p{
           font-size: 18px;
           font-weight: 300;
           color: grey;
           line-height: 28px;
           letter-spacing: 1px;
          }
          .title{
           display: flex;
           align-items: center;
           gap: 10px;
           font-weight: 500;
           font-size: 18px;
           color: grey;
           img{
            width: 24px;
            height: 24px;
           }
          }
          video{
            width: 720px;
          }
         }

        }
    }
}
