.footer{
    display: flex;
    justify-content: center;
    color: #999;
    margin: 50px 0px;
    img{
        height: 24px;
        width: 24px;

    }
    .container{
        width: 1400px;
        .top{
         display: flex;
         justify-content: space-between;
         .item{
            display: flex;
            flex-direction: column;
            gap: 15px;
            h2{
                color: #555;
                font-weight: 500;
            }
            span{
                font-weight: 300;
            }
         }
        }
        hr{
            margin: 50px 0px;
            height: 0;
            border: 1px solid rgb(173, 170, 170);
        }
        .bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .left{
                display: flex;
                align-items: center;
                gap: 20px;
                span{
                    font-size: 13px;
                }
            }
            .right{
                display: flex;
                align-items: center;
                gap: 30px;
           
                .social{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
                .link{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }
}